* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial;
  overflow: hidden; /* Evita barras de rolagem */
}

.horario-fixo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 85%;
    left: 81.5%;
    z-index: 100;
    padding: 8px;
    border-radius: 20px;
    font-size: 60px;
    color: #fff;
}

.carrossel {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide:nth-child(odd) {
  background-color: #950101;
}

.slide:nth-child(even) {
  background-color: #fecaca;
}

.bg3 {
    color: #fff;
    background-image: url('../fundoesporte.png');
    background-size: cover;
    background-position: center;
}

p {
    font-size: 25px;
    text-align: justify;

}

h2 {
    font-size: 30px;
    text-align: center;
}

img {
  height: 100%;
}

.sobre-escola {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 0 150px 20px 150px;
    padding: 20px 20px 0 20px;
}

.contato-escola {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}