* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial;
  overflow: hidden;
}

.horario-fixo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 2%;
  right: 3%;
  z-index: 100;
  padding: 0.2em;
  border-radius: 20px;
  font-size: clamp(24px, 5vw, 60px);
  color: #fff;
}

.carrossel {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide:nth-child(odd) {
  background-color: #950101;
}

.slide:nth-child(even) {
  background-color: #fecaca;
}

.bg3 {
  color: #fff;
  background-image: url('../fundoesporte.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  font-size: 2vw;
  text-align: justify;
  padding: 1rem;
}

h2 {
  font-size: 3vw;
  text-align: center;
}

img {
  height: 100%;
}

.sobre-escola, .contato-escola {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin: 0 150px 20px 150px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
}

/* Ajustes extras para dispositivos menores */
@media (max-width: 600px) {

  .horario-fixo {
    padding: 1rem;
    font-size: 6vw;
  }

  img {
    height: 55%;
  }

  p {
    font-size: 4vw;
    text-align: justify;
  }

  h2 {
    font-size: 5vw;
    text-align: center;
  }

}
