
/* .ficha-card {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.2em;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
} */

body {
  font-family: 'Arial';
  margin: 0;
  overflow: hidden; /* Evita barras de rolagem */
}


#filaContainer {
display: flex;
flex-wrap: wrap;         /* Permite que os itens quebrem para a próxima linha */
padding: 0;
max-width: 800px;        /* Limita a largura para forçar quebra */
background-color: white;
width: 50%;
}

#filaContainer h3 {
width: 100%;             /* Faz o título ocupar toda a largura */
font-size: 70px;
margin: 0 0 40px 0;
text-align: center;
color: rgb(116, 12, 12);
font-family: 'Cooper Black';
}

#filaContainer div {
flex: 0 0 49%;
font-weight: bold;
text-align: center;
}

#filaContainer p {
  font-size: 60px;
  margin: 0;
  padding: 20px;
}

/* DIREITA */

#chamadasContainer {
  background-color: rgb(116, 12, 12);
  flex-wrap: wrap;         /* Permite que os itens quebrem para a próxima linha */
  padding: 0;
  max-width: 900px;        /* Limita a largura para forçar quebra */
  height: 700px;
}

#chamadasContainer li {
  list-style: none;
  
}

#chamadasContainer ul {
  font-size: 60px;
  margin: 0;
  padding: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#chamadasContainer h3 {
width: 100%;             /* Faz o título ocupar toda a largura */
font-size: 70px;
margin: 0 0 40px 0;
text-align: center;
color: white;
font-family: 'Cooper Black';
}

.linha-vertical {
  width: 10px;
  height: 83%;
  border-left: 3px solid rgb(116, 12, 12);
  position: absolute;
  left: 26%;
  top: 18%;
}