body {
  font-family: 'Arial';
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

/* ESQUERDA */

#filaContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  width: 50%;
  max-width: 800px;
}

#filaContainer h3 {
  width: 100%;
  font-size: 4vw;
  margin: 0 0 2rem 0;
  text-align: center;
  color: rgb(116, 12, 12);
  font-family: 'Cooper Black';
}

#filaContainer div {
  flex: 0 0 47%;
  font-weight: bold;
  text-align: center;
}

#filaContainer p {
  font-size: 4vw;
  margin: 0;
  padding: 1rem;
}

/* DIREITA */

#chamadasContainer {
  background-color: rgb(116, 12, 12);
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  justify-content: center;
  height: 100vh;
  padding: 0;
}

#chamadasContainer h3 {
  width: 100%;
  font-size: 4vw;
  margin: 0 0 2.6rem 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Cooper Black';
}

#chamadasContainer li {
  list-style: none;
  margin: 0;
  padding: 1rem;

}

#chamadasContainer ul {
  font-size: 4vw;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
  text-align: center;
}

.linha-vertical {
  width: 10px;
  height: 83%;
  border-left: 3px solid rgb(116, 12, 12);
  position: absolute;
  left: 25%;
  top: 18%;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {

  #filaContainer {
    gap: 0.1rem;
  }

  #filaContainer h3 {
    font-size: 7vw;
    padding: 0;
    margin-bottom: 0.7rem;
  }

  #filaContainer div {
    flex: 0 0 100%;
  }

  #filaContainer p {
    font-size: 10vw;
  }

  #chamadasContainer h3 {
    font-size: 7vw;
    margin: 0 0 1rem 0;
  }

  #chamadasContainer ul {
    font-size: 10vw;
  }

  #chamadasContainer li {
    margin-top: 2rem;
    padding: 0;
  }

  .linha-vertical {
    opacity: 0;
  }
}
